 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --accent-color: #2e2e7a;
  --base-color: white;
  --text-color: #6f6e75; 
  --secondary-text-color: #F3F0FF;
  --input-color: #F3F0FF;
  --secondary-color: #2e2e7a88;
  --primary-color: #180875e3;
  --extra-text-color: #9999c0;
  --font-family: 'Poppins', 'Segoe UI', sans-serif;
  --font-size: 1.8rem;
}

*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; 
}

body {
  font-size: var(--font-size); /* Use the global font size */
  font-family: var(--font-family); /* Use the global font family */
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(204, 204, 204);
}
