.map-container {
  display: flex;
  flex-direction: column;
  margin-top: 280px;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 20px;
}

.google-map {
  border-radius: 4px;
  overflow: hidden;
  height: 69vh;
}

.page-title {
  font-size: 20px;
  position: absolute;
  top: -55px;
  left: 0;
  margin: 0;
  padding: 10px;
  z-index: 10; 
}

/* parent of starting location and filter section */
.search-filter-container {
  position: absolute;
  top: 150px; 
  left: 20px;
  right: 20px;
  z-index: 10;
  display: flex;
  flex-direction: row;
  gap: 10px; 
  box-shadow: none;
  width: 100%;
  align-items: center;
}

.starting-location {
  display: flex;
  align-items: center; 
  border: none;
  border-radius: 5px; 
  padding: 5px; 
  gap: 10px;
  width: 825px;
  position: relative;
  margin-right: 1px;
  margin-left: 20px;
}

.search-icon {
  margin-right: 1px; 
  margin-left: -25px;
  color: var(--secondary-color);
  font-size: 20px;
  
}

.search-icon.active {
  color: var(--accent-color);
}

.search-input {
  width: 100%;
  padding: 7px;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 4px;
  transition: border-color 0.3s, box-shadow 0.3s;
  font-family: var(--font-family);
  font-size: 16px; 
  flex-grow: 1;
  
}

.search-input:focus {
  border-color: var(--secondary-color);
  box-shadow: 0 0 4px var(--secondary-color);
}

.filter-section {
  display: flex; 
  align-items: center; 
  gap: 15px; 

  border-radius: 10px;
  padding: 10px;
  
  position: absolute;
  top: 43px; 
  left: 2px;
  z-index: 10;
  width: auto; 
}

.filter-toggle-icon {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  font-size: 24px;
  margin-left: -17px;
  color: var(--secondary-color);
}

.filter-toggle-icon:hover {
  color: var(--accent-color);
}

.filter-toggle-icon .active {
  color: var(--accent-color);
}


.filter-list {
  display: flex; 
  flex-wrap: nowrap; 
  gap: 10px; 
  justify-content: flex-start; 
}

.filter-item {
  position: relative;
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  gap: 5px; 
  flex: 1 1 auto; 
  max-width: 200px; 
  min-width: 150px; 
  white-space: nowrap; 
}

.filter-item label {
  margin-right: 12px;

}

.filter-item select {
  position: relative;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 12px; 
  width: auto;
  
  max-width: 150px;
  z-index: 1000;
  font-family: var(--font-family);
  margin-right: 10px;
}
@media (max-width: 768px) {
  .filter-section {
    display: block;
    background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  
  }
  .filter-toggle-icon{
  background: transparent;
  
  }
  .filter-list {
    display: flex;
    flex-wrap: wrap; 
    gap: 15px; 
    width: 100%; 
    justify-content: space-between; 
    flex-direction: column; 
    gap: 13px; 
    
  }
  .filter-item {
  position: relative;
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  gap: 5px; 
  flex: 1; 
  min-width: 150px; 
  max-width: 100%; 
  white-space: nowrap; 
    
  }
  .filter-item select {
    max-width: 100%; 
    margin: 0; 
    margin-bottom: 10px; 
  }
}


.filter-item select:focus {
  border-color: var(--secondary-color);
  box-shadow: 0 0 4px var(--secondary-color);
  outline: none; 
}

.restaurant-name-filter {
  width: 100%; /* Enforce field width */
  max-width: 2000px;
  flex-grow: 1;
  text-overflow: ellipsis;
  
}

.suggestions-list {
  list-style-type: none; 
  padding: 0;
  margin: 5px 0 0 0; 
  background-color: white; 
  border-radius: 5px; 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000; 
  position: absolute; 
  top: 40.5px;
  left: 31px;
  max-width: 95.8%;
  width: 100%; 
  
}

.suggestions-list li {
  padding: 10px; 
  cursor: pointer; 
}

.suggestions-list li:hover {
  background-color: #f0f0f0;
}
@media (max-width: 768px) {
  .suggestions-list {
    max-width: 95%; 
    left: 1%; 
    top: 55%;
  }
}
.loading {
  height: 40px;
  width: 40px;
  margin-right: 10px; 
  margin-left: -25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.info-window-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  margin: 10px;
  background-color: var(--base-color); 
  border-radius: 100px; 
  box-shadow: none;
  font-size: 16px; 
  width: auto;
  white-space: normal;
  word-wrap: break-word;
  
}

.info-window-content p{
  margin-top: 5px;
}

.info-window-icons {
  display: flex; 
  justify-content: space-evenly; 
  align-items: center; 
  gap: 15px; 
  margin-top: 10px; 
}

.info-header {
  position: absolute; 
  top: 8px; 
  left: 5px; 
  z-index: 1000; 
  background: white; 
  padding: 5px; 
  border-radius: 10px; 
  box-shadow: 0px 2px 4px rgba(58, 8, 8, 0.1); 
  text-align: center;
  display: flex; 
  justify-content: center;
  align-items: center;
  width: 85%;
  overflow: hidden; 
  white-space: wrap; 
  text-overflow: ellipsis; 
}

.restaurant-title {
  font-weight: bold; 
  margin: 0; 
  color: black; 
}

@media (max-width: 768px) {
  .info-window-content {
    font-size: 15px; 
    padding: 0px; 
    
  }

  .info-header{
    top: 8px; 
    left: 5px; 
    width: 80%;
  }
  .info-window-icons {
    flex-wrap: wrap; 
    gap: 5px;
  }
  .date-time-container {
    flex-direction: row; 
    gap: 0px;
  }

  .date-time-container input {
    margin-right: 0px;
    padding: 0px;
    border-radius: 1px;
    font-size: 12px; 
    padding: 0px; 
    width: auto;
    max-width: 85px; 
  }
}



.expandable-card {
  position: absolute;
  top: 15%; 
  left: 50%;
  transform: translate(-50%, 0);
  width: 85%;
  max-width: 400px;
  max-height: 60vh; 
  overflow-y: auto; 
  background-color: white; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  z-index: 100;
  animation: slideDown 0.5s ease forwards;
  
}
@keyframes slideDown {
  0% {
      opacity: 0;
      transform: translate(-50%, -50%); 
  }
  100% {
      opacity: 1;
      transform: translate(-50%, 0); 
  }
}

.expandable-card h3 {
  text-align: center;
  font-size: 1.8rem;
  margin-top: 0;
  position: relative;
  padding-bottom: 8px;
}

.expandable-card h3::after {
  content: "";
  display: block;
  width: 80%;
  height: 2px;
  background-color: #ddd;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 10%;
}

.inspection-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin: 10px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.inspection-card p {
  margin: 5px 0;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  color: #555;
}

.expandable-card p {
  margin: 5px 0;
}

.expandable-card ul {
  list-style-type: none;
  padding-left: 0;
}

/* view more button */
.restaurant-photo {
  width: 100%;
  max-height: 20vw;
  border-radius: 8px;
  margin-bottom: 15px;
}

.opening-hours-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.opening-hours-item {
    display: flex;
    align-items: center;
    padding: 4px 0;
   
}

.opening-hours-day {
    font-weight: bold;
    min-width: 120px; 
    color: var(--text-color);
}

.opening-hours-time {     
     font-size: 0.95em;  
}

.expandable-card h4 {
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 5px;
}
.expandable-card h4:hover {
  color: var(--accent-color); 
}

.view-more-icon {
  color: var(--accent-color);
}

 .heart-icon, .view-more-icon, .add-to-plan-icon {
    font-size: 20px;
    cursor: pointer;
}

.date-time-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.date-time-container input {
  margin-right: 10px;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  border: 0.5px solid var(--accent-color);
  outline: none;
  width: 130px;
  height: 30px;
}

.date-time-container input:focus {
  border-color: var(--secondary-color);
  box-shadow: 0 0 4px var(--secondary-color);
}

.sidebar {
  position: fixed;
  right: 0;
  top: 78px;
  width: 400px;
  height: calc(100vh - 85px);;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0,0,0,0.2);
  padding: 20px;
  overflow-y: auto;
  z-index: 1000;
}

.close-button {
  background: transparent;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}

.sidebar-photo {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}
.review-card {
  padding: 15px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.review-card p {
  margin: 5px 0;
}

textarea {
  font-size: 14px;
}

button {
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

button.show-more-reviews {
  background-color: #007bff;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .sidebar {
    width: 100%; 
    top: 100px; 
  }

  .sidebar h3 {
    font-size: 1.2em;
  }
}
.inspection-card {
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.inspection-card p {
  margin: 5px 0;
}
.reviews-section {
  margin-top: 0;
}

.star-rating {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.star {
  font-size: 24px;
  color: #ccc;
  cursor: pointer;
  margin-right: 5px;
}

.star.filled {
  color: gold;
}

.review-input {
  width: 100%;
  height: 120px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  margin-bottom: 10px;
}

/* Unique Button Styles */
.unique-button {
  background-color: #ff5722; 
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.unique-button:hover {
  background-color: #e64a19; 
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px); 
}

.unique-button:active {
  background-color: #d84315; 
  transform: translateY(0); 
}

.unique-button.save {
  background-color: #4caf50; 
}

.unique-button.cancel {
  background-color: #f44336; 
}

.review-card {
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  background-color: #f9f9f9;
  position: relative;
}

.review-card .menu {
  position: absolute;
  top: 10px;
  right: 10px;
}

.menu-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.menu-dropdown {
  position: absolute;
  top: 25px;
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.menu-item {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: left;
  border: none;
  background: none;
  cursor: pointer;
}

.menu-item.delete {
  color: red;
}

.button-group {
  display: flex;
  gap: 10px;
}

.button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button.save {
  background-color: #28a745;
  color: white;
}

.button.cancel {
  background-color: #6c757d;
  color: white;
}
.return-to-location-button {
  background-color: var(--primary-color); 
  color: white;
  border: none;
  padding: 10px 15px; 
  font-size: 14px; 
  border-radius: 4px; 
  cursor: pointer;
  transition: background-color 0.3s ease; 
  margin-left: 10px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  white-space: nowrap; 
  text-align: center;
  flex-shrink: 0; 

}

.return-to-location-button:hover {
  background-color: #574dcf; 
}

.return-to-location-button:active {
  background-color: var(--primary-active-color);
  transform: scale(0.98); 
}

@media (max-width: 768px) {
  .starting-location {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 8px; 
    width: 100%; 
    padding: 0 20px;
  }
  .search-input {
    flex-grow: 0.8; 
    max-width: 89%;
    font-size: 14px;
    padding: 6px; 
    margin: 0 10px;
  }
  .return-to-location-button {
    margin-left: 0;
    max-width: 180px;
  }
}

