body {
    font-family: var(--font-family);
    background-color: #f7f9fc;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    text-align: center;
    margin: 20px 0;
    color: #333;
}

.events-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px;
    
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.filter-form label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: rgb(221, 41, 17);
    font-weight: bold;
    text-align: left;
}

.filter-form select,
.filter-form input[type="date"] {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 150px;
    font-family: var(--font-family);
}

.events-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.event-card {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.event-card h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

.event-card p {
    font-size: 14px;
    margin: 5px 0;
    color: #555;
}

.no-events-message {
    color: var(--base-color);
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.pagination button {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
    background-color: white;
    padding: 8px 12px;
    margin: 0 5px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: var(--font-family);
}

.pagination button:hover {
    background-color: var(--accent-color);
    color: white;
}

.pagination button.active {
    background-color: var(--accent-color);
    color: white;
}

.align-name-plus {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.add-to-plan-icon {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    margin-left: 10px;
    color: var(--accent-color);
}

.btn-primary{
    position: absolute; 
    top: 0;
    right: 40px; 
    margin-right: 10px; 
}

.zoom{
  
  position: relative;
  overflow-y: hidden; 
  z-index: 900;
}

/* Responsive layout breakpoints */
@media (min-width: 768px) {
  .event-item {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .event-item p {
    font-size: 16px;
  }
}
  
@media (max-width: 768px) {
  .event-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .add-to-plan-button {
    align-self: stretch;
  }
}
  
@media (max-width: 720px) {
  .events-container {
    margin-top: 100px;
    padding: 0 10px;
  }

  .event-item h3 {
    font-size: 16px;
  }

  .event-item p {
    font-size: 13px;
  }

  .add-to-plan-icon {
    position: absolute;
    right: 0;
    cursor: pointer;
    margin-left: 10px;
    color: var(--accent-color);
    top: 170px;
  }

  .btn-primary{
    position: absolute; 
    top: 170px;
    right: 20px; 
    margin-right: 10px; 
  }


}


@media screen and (min-width: 455px) and (max-width: 720px) {
  .add-to-plan-icon{
    top:150px;
  }

  .btn-primary{
    right: 40px; 
    margin-right: 10px; 
    top:150px;
  }
}


@media screen and (min-width: 500px) and (max-width:850px)  {
  .filter-form {
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .filter-form select,
.filter-form input[type="date"] {
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
    width: 135px;
    font-family: var(--font-family);
}
}

@media screen and (min-width: 500px) and (max-width: 590px){
  .filter-form select,
  .filter-form input[type="date"] {
      padding: 9px;
      width: 110px;
      font-size: 10px;
  }
}

@media screen and (min-width: 500px) and (max-width: 590px){
  .filter-form select,
  .filter-form input[type="date"] {
      padding: 9px;
      width: 110px;
      font-size: 10px;
  }
}


@media screen and (min-width: 720px) and (max-width: 770px){

  .filter-form {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .filter-form select,
  .filter-form input[type="date"] {
      padding: 8px;
      width: 120px;
      font-size:12px;
      
  }
}

