.profile-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center; 
    padding: 2vw;
}

.profile-top-section {
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
}

.profile-main-content {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 80vh;
    max-width: 1200px;
    border-radius: 1.5vw;
    overflow: hidden;
    margin-top: 1vh;
    padding: 2vw;
}

.profile-left-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    padding: 2vw;
    background-color: #f9f9f9;
    border-radius: 8px;
    position: relative; 
    margin-top: 4vw;
}

.profile-welcome-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.avatar-icon {
    font-size: 7vw;
    color: var(--text-color);
    position: absolute;
    top: -0.5vw;
    transform: translateY(-50%);
    z-index: 10px;
}

.welcome-message {
    color: #4e5d6c;
    font-size: 2vw;
    font-weight: 600;
    text-align: center;
    margin-top: 2.5vw;
}

/* Favorites Section */
.favorite-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    padding: 1.5vw;
    border-radius: 1vw;
    margin-top: 2vw;
}

.favorites-title {
    font-size: 1.5vw;
    color: var(--primary-color);
    margin-bottom: 1vw;
    text-align: center;
}

.favorites-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    width: 100%;
    max-height: 40vh;
    padding: 0.5vw;
}

.favorite-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: var(--base-color);
    cursor: pointer;
}

.favorite-item:hover {
    background-color: var(--secondary-text-color);
}

.favorites-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

/* Place Details */
.place-details {
    position: fixed;
    bottom: 3%;
    right: 3%;
    width: 80%;
    max-width: 500px;
    height: 60vh;
    overflow-y: auto;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 1vw;
    z-index: 100;
    transform: none;
    animation: slideDown 0.5s ease forwards;
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translate(50%, -50%);
    }
    100% {
        opacity: 1;
        transform: translate(40%, 10%); 
    }
}


.place-photo {
    width: 100%;
    max-height: 20vw;
    border-radius: 8px;
    margin-bottom: 15px;
}

.opening-hours-header:hover {
    color: var(--accent-color);
    cursor: pointer;
}

.opening-hours-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.opening-hours-item {
    display: flex;
    align-items: center;
    padding: 4px 0;
}

.opening-hours-day {
    font-weight: bold;
    min-width: 120px;
    color: var(--text-color);
}

.opening-hours-time {     
    font-size: 0.95em;  
}

.website a {
    color: #007bff;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    color: #555;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .profile-main-content {
        flex-direction: column;
        width: 90%;
        height: auto;
        padding: 4vw;
    }

    .profile-left-section {
        width: 100%;
        padding: 4vw;
        border-right: none;
        border-bottom: 1px solid #ccc;
    }

    .favorite-section {
        width: 100%;
        margin-top: 2vw;
    }

    .avatar-icon {
        font-size: 12vw;
    }

    .welcome-message {
        font-size: 6vw;
    }

    .favorites-title {
        font-size: 5vw;
    }

    .place-details {
        width: 90%;
        height: auto;
        max-height: 80vh;
    }
}
